.container{
    display: flex;
    gap: 15px;
}

.box{
    border: 2px solid black;
    height: 30vh;
    width: 20vw;
    border-radius: 20px;
    align-content: flex-start;
    display: flex;
    flex-direction: column;
    padding: 10px;
    object-fit: contain;
}

img{
    height: 15vh;
    width: 20vw;
    object-fit: contain;
}

p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}